.exercise-card {
  margin-bottom: 20px;
  height: 100%;
}

.exercise-gif {
  height: 200px; 
  /* object-fit: cover; */
  width: 100%;
}

.card-body {
  min-height: 250px;
}

/* Color classes based on difficulty */
.difficulty-Intermediate {
  background-color: #f0ad4e;
}

.difficulty-Advanced {
  background-color: #d9534f; 
}

.difficulty-Beginner {
  background-color: #5cb85c; 
}

/* styles.css */

.fab {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 20px; /* 20px from the bottom */
  right: 20px; /* 20px from the right */
  border-radius: 50%; /* Circular shape */
  width: 56px; /* Size of the button */
  height: 56px; /* Size of the button */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Make sure it's above other items */
}

/* Style for the icon within the button for better alignment */
.fab .fa-plus {
  font-size: 24px; /* Size of the plus icon */
}

